<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Singers</title>
</head>
<body>
    <h1>Khoa Pham Singers</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Link</th>
            <th>Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ngọc Dolil</td>
            <td><img src="https://zmp3-photo.zadn.vn/thumb/240_240/avatars/b/b/bbbee024a18e075d34a14159585e0b53_1518238323.png" alt=""></td>
            <td><a href="https://mp3.zing.vn/nghe-si/Ngoc-Dolil">Ngọc Dolil</a></td>
            <td>
                <a href="/remove">Remove</a>
                <br>
                <a href="/remove">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>
<script src="reload/reload.js"></script>
